<article>
  <h1 class="Main-heading">My Todo-list</h1>
  <section class="AddTodo">
    <input
      type="text"
      name=""
      class="AddTodo-text"
      placeholder="What's next?"
    />
    <input type="date" name="" class="AddTodo-date" />
    <input type="button" value="Add" class="AddTodo-btn" />
  </section>

  <%= render partial: "todo-section", locals: {section_title: "Ovverdue",todos: Todo.not_completed.overdue, show_due_date: true}%>
  <%= render partial: "todo-section", locals: {section_title: "Due Today",todos: Todo.due_today, show_due_date: false} %>
  <%= render partial: "todo-section", locals: {section_title: "Due Later",todos: Todo.due_later, show_due_date: true} %>
</article>
